<div class="tile is-parent" (click)="incrementBtnClick($event)">
    <article class="tile is-child notification is-{{ color }} {{ animatedClass }} is-unselectable">
        <div class="content">
            <!-- <p class="title">Team {{ color }}</p> -->
            <!-- <p class="subtitle">With even more content</p> -->
            <div class="content">
                <!-- Content -->
                <h1 class="score has-text-centered has-text-white-bis" style="margin-bottom: 0.15em;">{{ points || 0}}</h1>
            </div>
        </div>
        <div class="content has-text-centered" (click)="decrementBtnClick($event); $event.stopPropagation()">
            <i class="fa fa-minus-square fa-5x"></i>
        </div>
    </article>
</div>